.alert {
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(219, 139, 35, 0.918);
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgba(219, 81, 35, 0.664);
    padding: 10px 20px;
    border-radius: 5px;
    align-items: center;
}

.alert i {
    font-size: 2rem;
}

.alert p {
    text-align: center;
    font-size: 1rem;
}