#guiasInput {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 90vw;
    padding: 5px;
    border-radius: 15px;
    background: #fbfafa;
    margin: 10px auto;
}

input {
    border-radius: 5px;
    width: 70%;
    background: #5154a47c;
    padding: 10px;
    margin: 5px auto;
    font-size: 15px;
    overflow-wrap: break-word;
    text-align: center;
}

button{
    background-color: #2a25b4;
    color: #fff;
    font-size: 25px;
    width: fit-content;
    border-radius: 15px;
    margin-right: 10px;
    padding: 5px;
}

#confirmationButton{
    margin: 5px auto;
}