#header {
    background:  rgb(49, 68, 213);
    width: 100vw;
    height: fit-content;
    text-align: center;
}


#icons-container {
    display: flex;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
}

#icons-container div h2 { 
    margin-top: 5px;
    font-size: 30px;
    text-wrap: wrap;
    min-width: fit-content;
}


.left{
    font-size: 45px;
    left: 0px;
}

.right{
    font-size: 45px;
    right: 0px;
}